<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>氏名</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.id %></td>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
